body{
    background-color: black;
}

.logo img{
    width: 5%;
}
.navbar-dark{
    background-color: transparent;
}

.parrafos{
    color: #fff;
}

.icon{
    background-color: cyan;
    padding-left: 30px;
    padding-bottom: 30px;
}
h2{
    color: #fff;
}

.card{
    background-color: aqua;
}

footer{
    background-color: aqua;
}

.icons{
    display: inline-flex;
}
.iconos{
    text-align: right !important;
}