html {
    scroll-behavior: smooth;
  }

body{
    background-color: black;
}

.logo img{
    width: 5%;
}
.navbar-dark{
    background-color: transparent;
}
.img2 img{
    height: 160px;
}
.parrafos{
    color: #fff;
    text-align: justify;
    display: inline-flex;
    font-size: small;
}
.iconos{
    text-align: center;
}

.icon{
    background-color: cyan;
    padding-left: 30px;
    padding-bottom: 30px;
}
h2{
    color: #fff;
}

.card{
    background-color: aqua;
}

footer{
    background-color: deepskyblue;
}

.icons{
    font-size: 30px;
    color: #fff !important;
    text-decoration:none;
    letter-spacing: 10px;
}

.iconos1{
    background-color: aqua;
    font-size: 35px;
    padding-right: 180px;
    padding-left: 180px;
    padding-bottom: 7px;
    padding-top: 7px;
}